<footer class="footer">
    <div>
     <div class="row d-flex justify-content-center">
       <div class="col-md-3 column text-white">
         <h4>Company</h4>
         <ul>
           <li class="cursor-pointer"><a>About Us</a></li>
           <li class="cursor-pointer"><a>Our Services</a></li>
           <li class="cursor-pointer"><a>Privacy Policy</a></li>
         </ul>
       </div>
       <div class="col-md-3 column text-white">
         <h4>Get Help</h4>
         <ul>
           <li class="cursor-pointer"><a>FAQ</a></li>
         </ul>
       </div>
       <div class="col-md-3 column text-white">
         <h4>follow us</h4>
         <div class="social-links">
           <a class="cursor-pointer"><i class="fab fa-facebook-f"></i></a>
           <a class="cursor-pointer"><i class="fab fa-twitter"></i></a>
           <a class="cursor-pointer"><i class="fab fa-instagram"></i></a>
           <a class="cursor-pointer"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </div>
       <div class="col-md-3 column text-white">
        <h4>Attribution</h4>
        <ul>
          <li class="cursor-pointer">Image by <a href="https://www.freepik.com/free-vector/heart-characters-collection_1219512.htm#query=sad%20heart&position=20&from_view=search&track=ais">Freepik</a></li>
        </ul>
      </div>
     </div>
     <div class="row text-white d-flex justify-content-center align-items-center">&copy; Shop 2023</div>
    </div>
 </footer>
