<section class="container">
    <div class="forgot">
        <h3 class="fw-bold">Reset Password</h3>
        <p class="fw-light px-3">Enter your Email below</p>
        <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        <form [formGroup]="forgotForm" (ngSubmit)="forgotPasswordSubmit(forgotForm)" class="p-3 mt-4 position-relative">
            <!--*Loading Overlay while sending data to api-->
            <label for="email" class="gray"> Email: </label>
            <input type="email" id="email" formControlName="email" class="form-control my-2">

            <!--Submit button-->
            <button type="submit" [disabled]="forgotForm.invalid"
                class="btn bg-main text-white d-block w-50 mx-auto mt-4">Submit</button>
        </form>
    </div>
    <div class="code d-none">
        <h3 class="fw-bold">Check your Email</h3>
        <p class="fw-light px-3">we sent code to your email</p>
        <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        <form [formGroup]="codeForm" (ngSubmit)="codeSubmit(codeForm)" class="p-3 mt-4 position-relative">
            <label for="resetCode" class="gray"> Code: </label>
            <input type="tel" id="resetCode" formControlName="resetCode" class="form-control my-2">

            <!--Submit button-->
            <button type="submit" [disabled]="forgotForm.invalid"
                class="btn bg-main text-white d-block w-50 mx-auto mt-4">Submit</button>
        </form>
    </div>
</section>