<section class="container">
    <div class="row">
        <h3 class="fw-bold">Reset Password</h3>
        <p class="fw-light px-3">Enter your email below</p>
        <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        <form [formGroup]="resetForm" (ngSubmit)="resetSubmit(resetForm)" class="p-3 mt-4 position-relative">
        
            <label for="email" class="gray"> Email: </label>
            <input type="email" id="email" formControlName="email" class="form-control my-2">

            <!--Password Input-->
            <label for="password" class="gray"> Password: </label>
            <input type="password" id="password" formControlName="newPassword" class="form-control my-2">


            <!--Submit button-->
            <button type="submit" [disabled]="resetForm.invalid"
                class="btn bg-main text-white d-block w-50 mx-auto mt-4">Submit</button>
        </form>
    </div>

</section>